@keyframes colorShift {
  0% {
    background-color: #dcfce7;
  } /* green-100 */
  25% {
    background-color: #fef3c7;
  } /* yellow-100 */
  50% {
    background-color: #fee2e2;
  } /* red-100 */
  75% {
    background-color: #dbeafe;
  } /* blue-100 */
  100% {
    background-color: #f3e8ff;
  } /* purple-100 */
}

@keyframes colorShift2 {
  0% {
    background-color: #fef3c7;
  } /* yellow-100 */
  25% {
    background-color: #fee2e2;
  } /* red-100 */
  50% {
    background-color: #dbeafe;
  } /* blue-100 */
  75% {
    background-color: #f3e8ff;
  } /* purple-100 */
  100% {
    background-color: #dcfce7;
  } /* green-100 */
}

@keyframes colorShift3 {
  0% {
    background-color: #fee2e2;
  } /* red-100 */
  25% {
    background-color: #dbeafe;
  } /* blue-100 */
  50% {
    background-color: #f3e8ff;
  } /* purple-100 */
  75% {
    background-color: #dcfce7;
  } /* green-100 */
  100% {
    background-color: #fef3c7;
  } /* yellow-100 */
}

@keyframes colorShift4 {
  0% {
    background-color: #dbeafe;
  } /* blue-100 */
  25% {
    background-color: #f3e8ff;
  } /* purple-100 */
  50% {
    background-color: #dcfce7;
  } /* green-100 */
  75% {
    background-color: #fef3c7;
  } /* yellow-100 */
  100% {
    background-color: #fee2e2;
  } /* red-100 */
}
